extends layout

block content
  header.header
    h1.header__title Akbarrdev
    p.header__subtitle Backend Server

  main.main
    section.info
      h2.info__title Yo bro what are you searching for?
      p.info__description
        | This is the control center for all Akbarrdev backend services. Are you sure you're in the right place? Check out 
        a(href="https://akk.bar") https://akk.bar

  footer.footer
    p &copy; 2024 Akbarrdev. All rights reserved.